# Lab 2 - Working with Data

The target of this lab session is to analyze and understand a large
dataset efficiently. The dataset we will work with is a dataset of
cities in the US and their climates. The module will
discuss the challenges of loading data, finding the parts we are
interested in, and visualizing data output.

The main technical tool we will be working with is a library known
as `Pandas`. Despite the silly name, Pandas is a super popular
library for data analysis. It is used in many technology companies
for loading and manipulating data.

In [1]:
import pandas as pd

We will also use a new library for this lesson that helps us graph and visualize
our data.

In [2]:
import altair as alt

## Introduction

This data comes form

https://en.wikipedia.org/wiki/List_of_North_American_cities_by_population

One way to think of Pandas is as a super-powered spreadsheet like
Excel. For instance lets start in a spreadsheet here:

https://docs.google.com/spreadsheets/d/1Jwcr6IBJbOT1G4Vq7VqaZ7S1V9gRmUb5ALkJPaG5fxI/edit?usp=sharing

In this spreadsheet we can do lots of things. Do you know how to do the following:

* Change the column names
* Delete a row
* Make a graph
* Add a new column

What about more advanced ideas. Can you?

* Sort by a column?
* Add a new column that changes the previous column?
* Take the sum of a row?
* Find the highest value in a row?

In this lab we will work with real-world data to learn how to
calculate important properties.

## Data

The data that we are working with is located in the file "Cities.csv".
You can get this file from the internet by running this command.

wget https://raw.githubusercontent.com/srush/BTT-2021/main/notebooks/data/Cities.csv

This file is raw data as a text file. We can see the output in raw form.

head Cities.csv

We can see that "csv" stands for "comma separated values" as each element
of the file is split using a comma.

To load data in the library we use the following command. Here `df`
refers to the "DataFrame" which is what Pandas calls a spreadsheet.

In [3]:
df = pd.read_csv("data/Cities.csv")
df

    Rank                 City        Country  Population
0      0          Mexico City         Mexico     8918653
1      1        New York City  United States     8550405
2      2          Los Angeles  United States     3971883
3      3              Toronto         Canada     2826498
4      4              Chicago  United States     2720546
..   ...                  ...            ...         ...
90    90               Surrey         Canada      526004
91    91  Ciudad López Mateos         Mexico      523296
92    92            Tultitlán         Mexico      520557
93    93               Fresno  United States      520052
94    94            Carrefour          Haiti      501768

[95 rows x 4 columns]

Just like in a spreadsheet Pandas has multiple columns representing
the underlying elements in the data. These each have a name here.

In [4]:
df.columns

Index(['Rank', 'City', 'Country', 'Population'], dtype='object')

To see just the elements in a single column we can use square
brackets to see just only column.

In [5]:
df["City"]

0             Mexico City
1           New York City
2             Los Angeles
3                 Toronto
4                 Chicago
             ...
90                 Surrey
91    Ciudad López Mateos
92              Tultitlán
93                 Fresno
94              Carrefour
Name: City, Length: 95, dtype: object

Alternatively if we want to see just a single row we can use the `loc`
command.

In [6]:
df.loc[1]

Rank                      1
City          New York City
Country       United States
Population          8550405
Name: 1, dtype: object

If we want to select several rows we can also pass in a list.

In [7]:
list_of_rows = [1, 5, 6]
df.loc[list_of_rows]

   Rank           City        Country  Population
1     1  New York City  United States     8550405
5     5        Houston  United States     2296224
6     6         Havana           Cuba     2117625

## Filters

These commands are relatively basic though and easy to do in a
standard spreadsheet. The main power of Pandas comes from the
ability to select rows based on complex filters.

For instance, if you were in a spreadsheet, how would you select only the
rows that correspond to cities in Mexico? It's possible but a bit challenging.

In Pandas, we first create a filter. This is kind of like an if statement that gets
applied to every row. It creates a variable that remembers which rows passed the filter test.

SKILL Filtering

1) Define a filter for you dataframe
2) Apply filter and rename.

In [8]:
filter = df["Country"] == "Mexico"
filter

0      True
1     False
2     False
3     False
4     False
      ...
90    False
91     True
92     True
93    False
94    False
Name: Country, Length: 95, dtype: bool

We then apply the filter to select the rows that we would like to
keep around. Here `cities_in_mexico_df` is a view of the spreadsheet
with only those rows remaining.

In [9]:
cities_in_mexico_df = df.loc[filter]
cities_in_mexico_df

    Rank                 City Country  Population
0      0          Mexico City  Mexico     8918653
8      8  Ecatepec de Morelos  Mexico     1677678
12    12          Guadalajara  Mexico     1460148
13    13               Puebla  Mexico     1437939
15    15               Juárez  Mexico     1382753
16    16                 León  Mexico     1349224
18    18              Tijuana  Mexico     1298475
21    21              Zapopan  Mexico     1179681
22    22            Monterrey  Mexico     1109171
24    24       Nezahualcóyotl  Mexico     1039867
29    29            Naucalpan  Mexico      970012
33    33               Mérida  Mexico      892363
34    34            Querétaro  Mexico      878931
35    35               Toluca  Mexico      873536
37    37            Chihuahua  Mexico      867736
43    43           Hermosillo  Mexico      819999
44    44             Saltillo  Mexico      791074
45    45       Aguascalientes  Mexico      785942
47    47      San Luis Potosí  Mexico      759854
48    48             Veracruz  Mexico      752171
51    51             Culiacán  Mexico      720798
53    53             Mexicali  Mexico      717628
54    54               Cancún  Mexico      711682
55    55             Acapulco  Mexico      710261
56    56         Tlalnepantla  Mexico      700734
58    58            Guadalupe  Mexico      682880
61    61         Chimalhuacán  Mexico      679811
66    66          Tlaquepaque  Mexico      664193
69    69              Torreón  Mexico      653150
72    72              Reynosa  Mexico      631611
78    78              Morelia  Mexico      608190
80    80     Tuxtla Gutiérrez  Mexico      598710
81    81              Apodaca  Mexico      597207
82    82              Durango  Mexico      590893
87    87               Tonalá  Mexico      536111
89    89   Cuautitlán Izcalli  Mexico      531041
91    91  Ciudad López Mateos  Mexico      523296
92    92            Tultitlán  Mexico      520557

We can then count the number of cities in Mexico.

In [10]:
total_mexican = len(cities_in_mexico_df)
total_mexican

38

Filters can also be more complex. You can check for basically any property you might
think of. For instance, here we want to keep both cities in the US and in Canada. The
symbol `|` means `either-or`.

In [11]:
filter = (df["Country"] == "United States") | (df["Country"] == "Canada")
us_or_canada_df = df.loc[filter]
us_or_canada_df

    Rank              City        Country  Population
1      1     New York City  United States     8550405
2      2       Los Angeles  United States     3971883
3      3           Toronto         Canada     2826498
4      4           Chicago  United States     2720546
5      5           Houston  United States     2296224
7      7          Montreal         Canada     1753034
9      9      Philadelphia  United States     1567442
10    10           Phoenix  United States     1563025
11    11       San Antonio  United States     1469845
14    14         San Diego  United States     1394928
17    17            Dallas  United States     1300092
19    19           Calgary         Canada     1230915
25    25          San Jose  United States     1026908
30    30            Ottawa         Canada      956710
31    31            Austin  United States      931830
32    32          Edmonton         Canada      899447
36    36      Jacksonville  United States      868031
38    38     San Francisco  United States      864816
39    39      Indianapolis  United States      853173
40    40          Columbus  United States      850106
41    41        Fort Worth  United States      833319
42    42         Charlotte  United States      827097
46    46       Mississauga         Canada      761300
52    52          Winnipeg         Canada      718400
57    57           Seattle  United States      684451
59    59            Denver  United States      682545
60    60           El Paso  United States      681124
62    62           Detroit  United States      677116
63    63  Washington, D.C.  United States      672228
65    65            Boston  United States      667137
67    67           Memphis  United States      655770
68    68         Nashville  United States      654610
70    70         Vancouver         Canada      648608
71    71          Portland  United States      632309
73    73     Oklahoma City  United States      631346
74    74         Las Vegas  United States      623747
75    75         Baltimore  United States      621849
76    76          Brampton         Canada      620700
77    77        Louisville  United States      615366
79    79         Milwaukee  United States      600155
84    84       Albuquerque  United States      559121
85    85          Hamilton         Canada      556359
86    86       Quebec City         Canada      540994
88    88            Tucson  United States      531641
90    90            Surrey         Canada      526004
93    93            Fresno  United States      520052

Filters can be of many different types. For instance, when working
with numerical fields we can have filters based on greater-than and
less-than comparisons. This filter keeps only cities with greater than a
million people.

In [12]:
filter = df["Population"] > 1000000
million_or_more_df = df.loc[filter]
million_or_more_df

    Rank                 City             Country  Population
0      0          Mexico City              Mexico     8918653
1      1        New York City       United States     8550405
2      2          Los Angeles       United States     3971883
3      3              Toronto              Canada     2826498
4      4              Chicago       United States     2720546
5      5              Houston       United States     2296224
6      6               Havana                Cuba     2117625
7      7             Montreal              Canada     1753034
8      8  Ecatepec de Morelos              Mexico     1677678
9      9         Philadelphia       United States     1567442
10    10              Phoenix       United States     1563025
11    11          San Antonio       United States     1469845
12    12          Guadalajara              Mexico     1460148
13    13               Puebla              Mexico     1437939
14    14            San Diego       United States     1394928
15    15               Juárez              Mexico     1382753
16    16                 León              Mexico     1349224
17    17               Dallas       United States     1300092
18    18              Tijuana              Mexico     1298475
19    19              Calgary              Canada     1230915
20    20          Tegucigalpa            Honduras     1190230
21    21              Zapopan              Mexico     1179681
22    22            Monterrey              Mexico     1109171
23    23              Managua           Nicaragua     1048134
24    24       Nezahualcóyotl              Mexico     1039867
25    25             San Jose       United States     1026908
26    26        Santo Domingo  Dominican Republic     1007997

Finally Pandas includes a special way for checking for string
properties. For instance, last class we saw the `contains` function
which checks that a string contains as given value. Here is how to
use that function in Pandas.

In [13]:
filter = df["City"].str.contains("City")
city_df = df.loc[filter]
city_df

    Rank            City        Country  Population
0      0     Mexico City         Mexico     8918653
1      1   New York City  United States     8550405
27    27  Guatemala City      Guatemala      994078
73    73   Oklahoma City  United States      631346
86    86     Quebec City         Canada      540994

(I didn't know how to do this! I just googled "how to filter by string contains in pandas"!)

## Manipulating Tables

Another useful aspect of tables is to manipulate by adding in new
columns. The easiest way to add a new column in pandas is to write a
function that tells us how to create the new column from the other
columns in the table.

Here's and example of how to do this.

In [14]:
def in_us_or_canada(country):
    "Returns Yes if country is in the US or Canada "
    if country == "United States":
        return "Yes"
    if country == "Canada":
        return "Yes"
    return "No"

Now we can add a new column by setting that column equal to
the country

In [15]:
df["US_or_Canada"] = df["Country"].map(in_us_or_canada)
df

    Rank                 City        Country  Population US_or_Canada
0      0          Mexico City         Mexico     8918653           No
1      1        New York City  United States     8550405          Yes
2      2          Los Angeles  United States     3971883          Yes
3      3              Toronto         Canada     2826498          Yes
4      4              Chicago  United States     2720546          Yes
..   ...                  ...            ...         ...          ...
90    90               Surrey         Canada      526004          Yes
91    91  Ciudad López Mateos         Mexico      523296           No
92    92            Tultitlán         Mexico      520557           No
93    93               Fresno  United States      520052          Yes
94    94            Carrefour          Haiti      501768           No

[95 rows x 5 columns]

A similar technique can be used to manipulate the data in a
column to change certain values. For instance, we might want to
remove the final " City" from cities like "New York"

In [16]:
def change_name(str1):
    return str1.replace(" City", "")

In [17]:
df["City"] = df["City"].map(change_name)
df

    Rank                 City        Country  Population US_or_Canada
0      0               Mexico         Mexico     8918653           No
1      1             New York  United States     8550405          Yes
2      2          Los Angeles  United States     3971883          Yes
3      3              Toronto         Canada     2826498          Yes
4      4              Chicago  United States     2720546          Yes
..   ...                  ...            ...         ...          ...
90    90               Surrey         Canada      526004          Yes
91    91  Ciudad López Mateos         Mexico      523296           No
92    92            Tultitlán         Mexico      520557           No
93    93               Fresno  United States      520052          Yes
94    94            Carrefour          Haiti      501768           No

[95 rows x 5 columns]

Exercise: New Columns

In [18]:
abbrev = {
    "United States": "US",
    "Mexico" : "MX",
    "Canada" : "CA",
    "Haiti" : "HAT",
    "Jamaica" : "JM",
    "Cuba" : "CU",
    "Honduras" : "HO",
    "Nicaragua" : "NR",
    "Dominican Republic" : "DR",
    "Guatemala" : "G",
    }

In [19]:
def abbreviate(country):
    return abbrev[country]

In [20]:
df["Abbrev"] = df["Country"].map(abbreviate)
df

    Rank                 City        Country  Population US_or_Canada Abbrev
0      0               Mexico         Mexico     8918653           No     MX
1      1             New York  United States     8550405          Yes     US
2      2          Los Angeles  United States     3971883          Yes     US
3      3              Toronto         Canada     2826498          Yes     CA
4      4              Chicago  United States     2720546          Yes     US
..   ...                  ...            ...         ...          ...    ...
90    90               Surrey         Canada      526004          Yes     CA
91    91  Ciudad López Mateos         Mexico      523296           No     MX
92    92            Tultitlán         Mexico      520557           No     MX
93    93               Fresno  United States      520052          Yes     US
94    94            Carrefour          Haiti      501768           No    HAT

[95 rows x 6 columns]

## Joining Together Tables

Pandas becomes much more powerful when we start to have many
different tables that relate to each other. For this example we will
consider another table that provides new information about these
cities.

https://docs.google.com/spreadsheets/d/1Jwcr6IBJbOT1G4Vq7VqaZ7S1V9gRmUb5ALkJPaG5fxI/edit?usp=sharing

wget https://raw.githubusercontent.com/srush/BTT-2021/main/notebooks/data/AllCities.csv

Lets load this table into a new variable.

In [21]:
all_cities_df = pd.read_csv("data/AllCities.csv")
all_cities_df

        Id      City     Country Longitude Latitude
0        0  A Coruña       Spain     8.73W   42.59N
1        1    Aachen     Germany     6.34E   50.63N
2        2   Aalborg     Denmark    10.33E   57.05N
3        3       Aba     Nigeria     8.07E    5.63N
4        4    Abadan        Iran    48.00E   29.74N
...    ...       ...         ...       ...      ...
3505  3505     Århus     Denmark    10.33E   57.05N
3506  3506     Çorlu      Turkey    27.69E   40.99N
3507  3507     Çorum      Turkey    34.08E   40.99N
3508  3508   Öskemen  Kazakhstan    82.39E   50.63N
3509  3509    Ürümqi       China    87.20E   44.20N

[3510 rows x 5 columns]

We can see where we in NYC are located in this table.

In [22]:
filter = all_cities_df["City"] == "New York" 
new_york_df = all_cities_df.loc[filter]
new_york_df

        Id      City        Country Longitude Latitude
2126  2126  New York  United States    74.56W   40.99N

But there are a lot of other cities in this table outside of North America.

In [23]:
filter = all_cities_df["Country"] == "Germany" 
europe_df = all_cities_df.loc[filter]
europe_df

        Id               City  Country Longitude Latitude
1        1             Aachen  Germany     6.34E   50.63N
187    187           Augsburg  Germany    10.66E   47.42N
338    338  Bergisch Gladbach  Germany     6.34E   50.63N
340    340             Berlin  Germany    13.14E   52.24N
370    370          Bielefeld  Germany     7.88E   52.24N
...    ...                ...      ...       ...      ...
3343  3343          Wiesbaden  Germany     8.87E   50.63N
3349  3349             Witten  Germany     7.88E   52.24N
3351  3351          Wolfsburg  Germany    10.51E   52.24N
3364  3364          Wuppertal  Germany     6.34E   50.63N
3369  3369           Würzburg  Germany     9.80E   49.03N

[81 rows x 5 columns]

We would like to make a combined table that consists of:

* Only Cities in North America
* Populations for each city
* Locations for each city.

This operation is known as a `join` or a `merge` since it joins together
these two tables. We just need to tell pandas which are the shared columns
between the two tables.

In [24]:
df = df.merge(all_cities_df, on=["City", "Country"])
df

,Rank,City,Country,Population,US_or_Canada,Abbrev,Id,Longitude,Latitude
0,0,Mexico,Mexico,8918653,No,MX,1955,98.96W,20.09N
1,1,New York,United States,8550405,Yes,US,2126,74.56W,40.99N
2,2,Los Angeles,United States,3971883,Yes,US,1775,118.70W,34.56N
3,3,Toronto,Canada,2826498,Yes,CA,3140,80.50W,44.20N
4,4,Chicago,United States,2720546,Yes,US,608,87.27W,42.59N
...,...,...,...,...,...,...,...,...,...
79,87,Tonalá,Mexico,536111,No,MX,3132,104.08W,20.09N
80,88,Tucson,United States,531641,Yes,US,3171,111.20W,31.35N
81,89,Cuautitlán Izcalli,Mexico,531041,No,MX,719,98.96W,20.09N
82,93,Fresno,United States,520052,Yes,US,960,119.34W,36.17N
83,94,Carrefour,Haiti,501768,No,HAT,542,72.68W,18.48N

## Formatting Exercise

Convert the latitude and longitude strings...

In [25]:
def latitude_to_number(latitude_string):
    str1 = latitude_string
    if str1[-1] == "N":
        return float(str1[:-1])        
    else:
        return -float(str1[:-1])    
df["Latitude"] = df["Latitude"].map(latitude_to_number)

In [26]:
def longitude_to_number(longitude_string):
    str1 = longitude_string.replace("W", "")
    return -float(str1)
df["Longitude"] = df["Longitude"].map(longitude_to_number)

## Plotting

Next class we will dive deeper into plotting and visualization. But
let's finish with a little demo to show off all the tables we created.

Example in the spreadsheet

We can make a graph by converting our table into a `Chart`. We do this
in three steps

* Chart - Convert a dataframe to a chart
* Mark - Determine which type of chart we want
* Encode - Say which Pandas columns correspond to which dimensions

For instance if we want to convert our cities to a bar chart we select:

* Chart - df
* Mark - Bar chart
* Encode - City by Population

In [27]:
chart = (alt.Chart(df)
            .mark_bar()
            .encode(x="City",
                    y="Population"))
chart

alt.Chart(...)

There are many different possible graphs from the same data. For
instance we might want to explore whether how north or south a city
is impacts its population. This graph plots population against
latitude. The special `tooltip` argument uses the city column to
show the name of each city.

* Chart - df
* Mark - Point chart
* Encode - Population, Latitude

In [28]:
chart = (alt.Chart(df)
            .mark_point()
            .encode(y="Latitude",
                    x="Population",
                    tooltip="City"
            ))
chart

alt.Chart(...)

Finally lets do an advanced example. In this example we will plot
the population of each city in the US over a map. To do this
we first load in a map of the US states. (This part I found
out how to do by googling).

In [29]:
from vega_datasets import data
states = alt.topo_feature(data.us_10m.url, feature='states')
background = alt.Chart(states).mark_geoshape().project('albersUsa')

In [30]:
# Now we filter our data to just cities in the United States.
us_cities_df = df.loc[df["Country"] == "United States"]

And finally we make a plot.

* Chart - US cities
* Mark - Circle chart
* Encode - Population, Longitude, Latitude

In [31]:
chart = (alt.Chart(us_cities_df)
             .mark_circle(color="red")
             .encode(
                 longitude='Longitude',
                 latitude='Latitude',
                 size="Population",
                 tooltip='City'
             ))
chart = background + chart
chart

alt.LayerChart(...)

With a little more work we can even make this look cooler!

In [32]:
states = alt.topo_feature(data.world_110m.url, feature='countries')
background = alt.Chart(states).mark_geoshape(
    fill='lightgray',
    stroke='white'
).properties(
    width=500,
    height=300
).project('orthographic', rotate= [95, -42, 0])
points = alt.Chart(df).mark_circle().encode(
    longitude='Longitude',
    latitude='Latitude',
    size="Population",
    tooltip=['City','Population']
)
chart = background + points
chart

alt.LayerChart(...)